.text-styles,
main div p,
.copyright {
  font-family: 'Cursive';
  font-size: 15px;
}
.default-button,
button {
  padding: 1em;
  border: solid black;
  border-radius: 10px;
}
button {
  position: relative;
  left: 390px;
  margin: 30px;
  padding: 1em 2em;
  background-color: #cccabd;
}
button:hover {
  background-color: gray;
}
button a {
  text-decoration: none;
  color: black;
}
hr {
  margin: 0px 30px;
}
main {
  background-color: antiquewhite;
}
main div p {
  padding: 1em;
  line-height: 1.5;
}
div {
  padding: 1em;
}
div img {
  width: 500px;
  float: right;
  position: relative;
  right: 30px;
}
footer div {
  width: 378.5px;
  float: left;
  background-color: #cccabd;
}
footer div ul {
  margin-left: 80px;
}
footer div ul li {
  list-style: none;
}
footer div ul li a {
  color: black;
}
.copyright {
  background: gray;
  border-top: solid 2px;
  padding: 1em;
  margin-top: 136px;
}
.copyright .ankr {
  margin-left: 85px;
  color: white;
  float: right;
}
body {
  background: #dda387;
  padding: 1em;
}
h1 {
  color: antiquewhite;
  text-align: center;
}
