@primary-color: gray;
@secondary-color: #dda387;
@third-color: #cccabd;
@fourth-color: antiquewhite;
@font: 'Cursive';

// mixin

// .text-color(@a) when (lightness(@a) >= 50%){
//   color: black;
// }
// .text-color(@a) when (lightness(@a) < 50%){
//   color: white;
// }

.text-styles{
  font-family: @font;
  font-size: 15px;
}

.default-button{
  padding: 1em;
  border: solid black;
  border-radius: 10px;
}