@primary-color: #b1dd87;
@secondary-color: #dda387;
@font: 'Cursive';


.text-styles{
  font-family: @font;
  font-size: 15px;
  color: black;
}

.default-button{
  padding: 1em;
  border: dotted black;
  border-radius: 10px;

}